<div>
	<section class="px-fluid-sm py-fluid-md">
		<span><img src="" alt="logo" /></span>
	</section>

	<section class="px-fluid-sm py-fluid-md">
		<h1 class="text-heading-lg">mo abayomi.</h1>
		<p class="text-body text-text-muted">tinkerer</p>
	</section>

	<section class="px-fluid-sm py-fluid-md">
		<p id="title" class="text-text-muted">now</p>
		<p class="text-body">
			i spend the most of my time trying to get better at the craft.
		</p>
	</section>

	<section class="px-fluid-sm py-fluid-md">
		<p id="title" class="text-text-muted py-fluid-sm">thoughts</p>
		<p class="text-body">
			i write
			<span
				><a href="/thoughts" class="underline text-text-muted">here</a></span
			>
			occasionally. sometimes a quick note, randoms, sometimes something longer
			once I've actually worked a thought all the way through.
		</p>
	</section>

	<section class="px-fluid-sm py-fluid-md">
		<p id="title" class="text-text-muted py-fluid-sm">other</p>
		<p class="text-body">
			a running <span><a href="#" class="underline text-text-muted">log</a></span> of what I'm
			learning
		</p>
		<p class="text-body">
			a list of <span><a href="#" class="underline text-text-muted">books</a></span> I'm reading
		</p>
		<p class="text-body">
			and notes from <span><a href="#" class="underline text-text-muted">problems</a></span> i'm
			solving along the way
		</p>
		<p class="text-body">
			some <span><a href="#" class="underline text-text-muted">photos</a></span> that i took
		</p>
        <p class="text-body">
			some of my <span><a href="#" class="underline text-text-muted">projects</a></span>
		</p>
        <p class="text-body">
			my <span><a href="#" class="underline text-text-muted">resume</a></span>
		</p>
	</section>
	<footer>
		<section class="px-fluid-sm py-fluid-md">
			<p id="local-time" class="text-text-muted"></p>
		</section>
	</footer>
</div>
