@import "tailwindcss";
@source "../../views/**/*.ejs";
@source "./views/**/*.ejs";


@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('truetype');
}
@font-face {
    font-family: 'Instrument Serif';
    src: url('../fonts/InstrumentSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Instrument Serif';
    src: url('../fonts/InstrumentSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Iowan';
    src: url('../fonts/Iowan-regular.otf') format('opentype');
}

@theme inline {
	--color-text-main: var(--primary);
	--color-bg-main: var(--secondary);
	--color-text-muted: var(--accent);

	/* --- Custom Font Sizes --- */
	/* Format: --text-{name} */
	--text-heading-lg: var(--fs-h1);
	--text-heading-md: var(--fs-h2);
	--text-body: var(--fs-body);

	/* --- Custom Spacing Scale --- */
	/* Format: --spacing-{name} */
	/* Used for padding, margin, height, width, gaps, etc. */
	--spacing-fluid-sm: var(--space-sm);
	--spacing-fluid-md: var(--space-md);
	--spacing-fluid-lg: var(--space-lg);

	--font-inter: "Inter", sans-serif;
	--font-instrument: "Instrument Serif", serif;
	--font-iowan: "Iowan", serif;
}

:root {
	--primary: #d8d4cd;
	--secondary: #161514;
	--accent: #706a63;

	/* Font Size Values */
	--fs-h1: 2.25rem; /* 36px */
	--fs-h2: 1.5rem; /* 24px */
	--fs-body: 1rem; /* 16px */

	/* Spacing Scale Values */
	--space-sm: 0.5rem; /* 8px */
	--space-md: 1.25rem; /* 20px */
	--space-lg: 2.5rem; /* 40px */
}

.dark {
	--primary: #161514;
	--secondary: #fcfbfa;
	--accent: #85807a;
}
