

<section class="py-fluid-lg">
	<h1 class="text-heading-md py-fluid-md">
		<%-entry.title %>
	</h1>
	<p class="text-text-muted text-body">
	<%
		let options = {
			month: "long",
			day: "numeric",
			year: "numeric"
		}
		const formatter = new Intl.DateTimeFormat("en-US", options)
		const date = new Date(entry.created_at)

		%><%= formatter.format(date) %><%

		 %></p>

</section>

<section>
	<span><img src="<%-entry.photo_url %>" alt=""></span>
</section>

<!-- DUMMY CONTENT — will come from the DB entry body -->
<section class="">
	<%-entry.content %>
</section>


<section class="mt-fluid-lg">
	<a href="/thoughts" class="text-text-muted">&larr; thoughts</a>
</section>
